// Fonts

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title;
}

body {
    font-family: $text;
}

.shadow {
    box-shadow: inset 0 -6px 0 rgba(114, 191, 77, 0.6);
    font-weight: normal;
}

// Second Section

.bg-apricot {
    background-color: $apricot;
    margin-top: -2px;
    margin-bottom: -2px;
}

// Fourth Section

.bg-blue {
    background-color: $light-blue;
    margin-top: -2px;
    margin-bottom: -2px;
}

// Fifth Section

.bg-green {
    background-color: $green;
}

.button-submit:hover {
    background-color: $light-blue;
}
