// Fonts

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title;
}

body {
    font-family: $text;
}

// First Section

.section-one {
    margin-top: -120px !important;
}

// Second Section

.bg-apricot {
    background-color: $apricot;
}
