// Fonts

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title;
}

body {
    font-family: $text;
}

// First Section

.photo {
background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0)),
    url('../img/moulin.jpg');
    height: 640px;
    background-size: cover;
    color: white;
    padding: 20px;
}
// Second Section

.bg-apricot {
    background-color: $apricot;
    margin-top: -2px;
    margin-bottom: -2px;
}

// Fourth Section

.bg-blue {
    background-color: $light-blue;
    margin-top: -2px;
    margin-bottom: -2px;
}

// Fifth Section

.bg-green {
    background-color: $green;
}

.button-submit:hover {
    background-color: $light-blue;
}
